// User-form CSS
body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}
div#userForm {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid gray;
  background-color: aliceblue;
}
div#userForm input {
  background-color: white;
}
.float-left {
  display: inline;
  float: left;
  margin-right: 40px;
}
