/* Wong's Webpage CSS */

/* NAVIGATION BAR (Responsiveness via media query)*/
nav {
  width: 100%;
  height: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 20px;
  width: 60%;
  min-width: 150px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
nav li a img {
  height: 100px;
}
nav li a#logoLink {
  margin-right: 70px;
}
nav li {
  float: left;
}
nav li a {
  /* border: 1px solid firebrick; FOR TESTING ONLY */
  display: block;
  width: 120px;
  color: saddlebrown;
  line-height: 100px;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  transition: font-size 0.5s ease-in-out;
}
nav li a:hover {
  color: royalblue;
  font-size: 1.5em;
}

/* Navigation bar for small screen */
@media screen and (max-width: 992px) {
  nav ul {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  nav li a, nav li img {
    width: 200px;
    line-height: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  nav li img {
    height: auto;
  }
}

/* MAIN CONTENT AREA */
div.space {
  clear: both;
  min-height: 600px;
  padding-top: 20px;
}
section {
  margin-bottom: 30px;
}

/* About Me (Responsiveness via Flexbox) */
section#about div.aboutBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #333;
  border: 1px solid firebrick;
  border-radius: 20px;
  color: ghostwhite;
}
section#about article#personalPhoto {
  width: 45%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
section#about img {
  width: 90%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
section#about article#personalDescription {
  width: 80%;
  max-width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Game and Form (Responsiveness via Bootstrap grid)*/
/* Further game style css in tic-tac-toe-game.css and user-form-demo.css */
div.gameAndFormBox {
  width: 60%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  padding: 20px 30px 0;
  border: 1px solid firebrick;
  border-radius: 20px;
}

/* Address */
div.addressBox {
  width: 60%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  border: 1px solid firebrick;
  border-radius: 20px;
  background-color: powderblue;
  transition: background-color 0.5s;
}
div.addressBox:hover {
  background-color: palegreen;
}
address {
  font-style: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
address span {
  font-size: 1em;
  transition: font-size 0.5s;
}
address span:hover {
  font-size: 1.2em;
}

/* FOOTER */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom 0;
  background-color: burlywood;
  width: 100%;
  height: 80px;
}
