// Tic Tac Toe CSS

div.game {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
table.gameTable, table.gameTable td {
  border: 1px solid #999;
  border-collapse: collapse;
}
table.gameTable {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}
table.gameTable td {
  width: 33.33%;
  height: 33.33%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: "century gothic", Verdana, sans-serif;
}
table.gameTable td:hover {
  cursor: pointer;
  background-color: aliceblue;
}
div#gameStatus {
  visibility: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 0;
  font-family: arial, Verdana, sans-serif;
}
div#resetButton {
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  font-family: arial, Verdana, sans-serif;
  color: white;
  background-color: royalblue;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}
div#resetButton:hover {
  background-color: dodgerblue;
}
